@import './spinner';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9F0028;
  height:100%;
  overflow-x: hidden;
}

.chat-container{

  .comment-container{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    padding-bottom: 20px;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #F87232;
    }
  }

  .comment-list{

    border: 1px solid;
    border-radius: 5px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    padding: 5px;
    color: #EC7236;
    width: fit-content;

    .comment-item__username{
      font-size: 12px;

      button{
        width: auto;
      }

    }

    &.self{
      background-color: #F8F8F8;
      text-align: right !important;
      align-self: flex-end;
    }

  }

  .s-btn{
    width: 18px;
    margin-top: -5px;

    &.close{
      width: 10px;
      transform: rotateY(0deg) rotate(45deg);
    }
  }

  .comment-item__time{
    font-size: 10px;
    float: right;
  }

}

button.dropdown-toggle{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}